# Build
/build/

# Composer
/composer.lock
/vendor/

# Composer bin plugin
/vendor-bin/**/vendor

# Eclipse
/.buildpath
/.project
/.settings

# JetBrains IDEs (https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore)
/.idea

# Node.js
/package-lock.json
/node_modules/

# WordPress
/wordpress/

# WordPress content
/wp-content/

# wp-env
/.wp-env.override.json
