<?xml version="1.0"?>

<ruleset name="WordPress Pay MemberPress rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_query" />

		<exclude name="WordPressVIPMinimum.Performance.NoPaging.nopaging_nopaging" />
	</rule>
</ruleset>
