includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	customRulesetUsed: false
	level: max
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
	scanDirectories:
		- vendor/woocommerce/action-scheduler
	paths:
		- src/
		- views/
	universalObjectCratesClasses:
		- MeprProduct
		- MeprOptions
		- MeprSubscription
		- MeprTransaction
