parameters:
	customRulesetUsed: false
	level: max
	scanFiles:
		- vendor-bin/phpstan/vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
	scanDirectories:
		- vendor/woocommerce/action-scheduler
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	paths:
		- src/
		- views/
	universalObjectCratesClasses:
		- MeprProduct
		- MeprOptions
		- MeprSubscription
		- MeprTransaction
